@import "null.css";
@font-face {
  font-family: "CircularStd" ;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff2") format("woff"); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd" ;
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd" ;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd" ;
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"); 
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: CircularStd, sans-serif;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}
header.header {
  font-family: CircularStd, sans-serif;
  width: 601px;
  height: 82px;
  margin-bottom: 20px;
  margin-left: 426px;
  font-size: 65px;
  line-height: 82px;
  text-align: center;
  color: #313131;
  font-weight: 400;
  
  
}
p.text1 {
  width: 750px;
  height: 50px;
  margin-bottom: 224px;
  margin-left: 352px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #5F5F5F ;
  font-weight: 400;
}
h2 {
  width: 239px;
  height: 44px;
  margin-bottom: 20px;
  margin-left: 207px;
  opacity: 88%;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #313131;
  white-space: nowrap ;
}
p.text2 {
  width: 508px;
  height: 140px;
  margin-right: 725px ;
  margin-bottom: 60px ;
  margin-left: 207px;
  font-size: 20px;
  line-height: 25px;
  color: #5F5F5F ;
  font-weight: 400;
}
p.text3 {
  width: 139px;
  height: 23px;
  margin-bottom: 5px;
  margin-left: 207px;
  opacity: 88%;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  color: #313131;
  white-space: nowrap ;
}
p.text4 {
  width: 139px;
  height: 23px;
  margin-bottom: 15px;
  margin-left: 207px;
  opacity: 88%;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #B8B8B8;
  white-space: nowrap ;
}
img {
  width: 468px;
  height: 675px;
  margin-left: 30px;
}